<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AardvArchive!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <h1 class="mainHeader">
        <a href="/">AardvArchive</a>
      </h1>
    </header>
    <main class="mainSection">
            <nav class="sideNav">
        <a href="/views/homepage.handlebars">Home</a>

        <!-- ADD SEARCH FUNCTION -->
        
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/views/profile.handlebars">Profile</a> |
        <a href="/views/homepage.handlebars">Logout</button>
        <a href ="/views/postdelete.handlebars">Post</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
