<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AardvArchive!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <h1 class="mainHeader">
        <a href="/">AardvArchive</a>
      </h1>
    </header>
    <main class="mainSection">
            <nav class="sideNav">
        <a href="/"><canvas id="canvas1" width="100" height="100"></canvas></a>

        <!-- ADD SEARCH FUNCTION -->
        
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile"><canvas id="canvas2" width="100" height="100"></canvas></a>
        <a href="/api/users/logout" id="#logout"><canvas id="canvas3" width="100" height="100"></canvas></button>
        <a href ="/profile"><canvas id="canvas4" width="100" height="100"></canvas></a>
        {{else}}
        <a href="/login"><canvas id="canvas2" width="100" height="100"></a>
        {{/if}}
      </nav>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}

<script src="https://unpkg.com/@rive-app/canvas@1.0.102"></script>
<script src="/js/rive.js"></script>

<!-- Code Editor Scripts -->
<script src="/js/editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
     let editorElements = document.getElementsByClassName("editor");

    // Iterate over the elements and initialize the Ace editor for each
    for (let i = 0; i < editorElements.length; i++) {
        let editor = ace.edit(editorElements[i]);
        editor.setTheme("ace/theme/dracula");
        editor.session.setMode("ace/mode/javascript");
        editor.session.setTabSize(4);
        editor.session.setUseWrapMode(true);
        editor.setHighlightActiveLine(true);
        editor.setReadOnly(true);
    }
</script>

<script src="/js/newComment.js"></script>
<script src="/js/newSnippet.js"></script>
<script src="/js/updateSnippet.js"></script>
<script src="/js/editSnippet.js"></script>
</body>
</html>
