<div class="homepageDiv">
<div class="banner">
    <h2 class="userBanner">User Created Posts</h2>
</div>

<section class="userPosts">
    {{#each snippets as |snippet|}}
        <card class="post">
            <h2 class="postTitle">{{snippet.title}}</h2>
            <p class="postAuthor">- Created by {{snippet.user.username}} {{format_date snippet.createdAt}}</p>
            <p>{{snippet.code}}</p>
        </card>
    {{/each}}
</section>
</div>