<div class="banner">
    <h2>User Created Posts</h2>
</div>

<section class="userPosts">
    <card class="postOne">
        <div class="postTitle">

        </div>
        <div class="postAuthor">

        </div>
        <div class="postCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="postDate">

        </div>
    </card>
    <card class="postTwo">
                <div class="postTitle">

        </div>
        <div class="postAuthor">

        </div>
        <div class="postCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="postDate">
            
        </div>
    </card>
    <card class="postThree">
                <div class="postTitle">

        </div>
        <div class="postAuthor">

        </div>
        <div class="postCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="postDate">
            
        </div>
    </card>
</section>