<div class="banner2">
    <h2>Create, Update or Delete Posts</h2>
</div>

<section class="crudPosts">
    <card class="newPost">
        <div class="newTitle">

        </div>
        <div class="newAuthor">

        </div>
        <div class="newCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="newDate">

        </div>
    </card>
</section>

<section class="editPost">
    <p>New Title:</p>
    <input type="text" class="inputTitle">

    <p>New Content:</p>
    <input type="text" class="inputContent">

    <button type="button">Update</button>
    <button type="button">Delete</button>
</section>