<div class="banner2">
    <h2>Update Snippets</h2>
</div>

<section class="crudPosts">
    <div>
        <h3>Edit Post:</h3>
        <form class="update-snippet-form">
            <div>
                <label for="update-snippet-title">Title:</label>
                <input class="form-input" type="text" id="update-snippet-title" name="update-snippet-title" value="{{title}}"/>
            </div>
            <div>
                <label for="update-snippet-content">Post:</label>
                <div class="profilePost">
                    <pre class="update-snippet editor" id="update-snippet-content" name="update-snippet-content">{{restoreContent code}}</pre>
                </div>
            </div>
                <input type="hidden" id="hidden-snippet-id" value="{{id}}">
            <div id="snippet-button">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
                <div class="delete-snippet-button">
                <button class="delete-snippet-button" type="submit" data-snippet-id="{{id}}">Delete</button>
            </div>
        </form>
    </div>
</section>
