<div class="banner">
    <h2>User Created Posts</h2>
</div>

<section class="profilePosts">
    <card class="profpostOne">
        <div class="profpostTitle">

        </div>
        <div class="profpostAuthor">

        </div>
        <div class="profpostCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="profpostDate">

        </div>
    </card>
        <card class="profpostTwo">
        <div class="profpostTitle">

        </div>
        <div class="profpostAuthor">

        </div>
        <div class="profpostCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="profpostDate">

        </div>
    </card>
        <card class="profpostThree">
        <div class="profpostTitle">

        </div>
        <div class="profpostAuthor">

        </div>
        <div class="profpostCat">

        </div>

        <!-- RENDER CONTENT -->

        <div class="profpostDate">

        </div>
    </card>
</section>
