* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainHeader {
    text-align: center;
    padding: 30px;
    font-family: 'Lilita One', cursive;
    font-size: 75px;
    background-color: rgb(244, 160, 49);
    border-bottom: 5px solid darkolivegreen;
}

.mainHeader a {
    text-decoration: none;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    background-color: rgb(113, 74, 23);
    border: 5px solid darkolivegreen;;
    border-radius: 25px;
}

.sideNav {
    float: left;
    display: flex;
    flex-direction: column;
    min-width: 10%;
}

.sideNav a {
    display: block;
    padding: 10px;
}

.mainSection {
    text-align: center;
    display: flex;
    min-height: 80vh;
    background-image: url("../images/savannah1.jpg");
    background-size: cover;
}

.homepageDiv {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.userPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userBanner {
    /* border: 5px solid rgb(114, 107, 107); */
    width: 95%;
    margin: 20px;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    color: darkolivegreen;
    font-size: xx-large;
    text-decoration: underline;
}

.post {
    border: 5px solid rgb(132, 139, 0);
    border-radius: 25px;
    /* border-image: linear-gradient(to right, #333333, #87CEEB, #FFD700, #FF1493) 1;
    border-image-slice: 1; */
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    margin: 10px;
    background-color: rgb(244, 160, 49);
}

.loginDiv {
    display: block;
    border: 5px solid darkolivegreen;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5% 25% 5% 25%;
    background-color: rgb(244, 160, 49);;
    color: darkolivegreen;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
}

.loginForms {
    display: flex;
    flex-direction: column;
}

.loginForms h2,
.signupDiv h2 {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    color: lightskyblue;
    background-color:  rgb(113, 74, 23);;
    margin-bottom: 5px;
}

.loginForm {
    display: block;
    margin: 5px;
    
}

.signupDiv {
    display: block;
    flex-wrap: wrap;
    background-color: rgb(244, 160, 49);;
}

.signupForms {
    display: flex;
    flex-direction: column;
}

.signupForm {
    display: block;
    margin: 5px;
}

.profileDiv {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.profilePosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profilePost {
    border: 5px solid rgb(132, 139, 0);
    border-radius: 25px;
    /* border-image: linear-gradient(to right, #333333, #87CEEB, #FFD700, #FF1493) 1;
    border-image-slice: 1; */
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    margin: 10px;
    background-color: rgb(244, 160, 49);
}

.profilePost a {
    text-decoration: none;
}

.postTitle {
    background-color: rgb(113, 74, 23);
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.newPostbtn {
    background-color: rgb(244, 160, 49);
    border: 2px solid rgb(132, 139, 0);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: rgb(113, 74, 23);
}

#createNew {
    background-color: rgb(244, 160, 49);
    border: 2px solid rgb(132, 139, 0);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: darkolivegreen; 
}


body {
   background: linear-gradient(to bottom, #aaa1a1, #87CEEB);
}

.code-snippet {
    text-align: left;
}

.code-editor {
    margin: 20px;
    width: 300px;
    height: 300px
}

.editor { 
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}