* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainHeader {
    text-align: center;
    padding: 30px;
    font-family: 'Lilita One', cursive;
    font-size: 75px;
    background-color: rgb(244, 160, 49);
    border-bottom: 5px solid darkolivegreen;
}

.mainHeader a {
    text-decoration: none;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    background-color: rgb(113, 74, 23);
    border: 5px solid darkolivegreen;;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sideNav {
    float: left;
    display: flex;
    flex-direction: column;
    min-width: 10%;
}

.sideNav a {
    display: block;
    padding: 10px;
}

.mainSection {
    text-align: center;
    display: flex;
    min-height: 80vh;
    background-image: url("../images/savannah1.jpg");
    background-size: cover;
}

.homepageDiv {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.userPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userBanner {
    /* border: 5px solid rgb(114, 107, 107); */
    width: 95%;
    margin: 20px;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    color: darkolivegreen;
    font-size: xx-large;
    text-decoration: underline;
}

.post {
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin: 10px;
    background-color: rgb(244, 160, 49);
    padding-bottom: 20px;
    text-decoration: none;
}

.post a {
    text-decoration: none;
}

.loginDiv,
.crudPosts {
    display: block;
    border: 5px solid darkolivegreen;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5% 25% 5% 25%;
    background-color: rgb(244, 160, 49);;
    color: darkolivegreen;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
}

.loginForms {
    display: flex;
    flex-direction: column;
}

.loginForms h2,
.signupDiv h2 {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    color: lightskyblue;
    background-color:  rgb(113, 74, 23);;
    margin-bottom: 5px;
    text-decoration: underline;
}

.loginForm {
    display: block;
    margin: 5px;
    
}

.form-input {
    border-radius: 5px;
    border-color: darkolivegreen;
    width: 300px;
    height: 30px;
}

.signupDiv {
    display: block;
    flex-wrap: wrap;
    background-color: rgb(244, 160, 49);;
}

.signupForms {
    display: flex;
    flex-direction: column;
}

.signupForm {
    display: block;
    margin: 5px;
}

.profileDiv {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.profilePosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profilePost {
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin: 10px;
    background-color: rgb(244, 160, 49);
    padding-bottom: 20px;
}

.profilePost a {
    text-decoration: none;
}

.postTitle {
    background-color: rgb(113, 74, 23);
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.newPostbtn,
.loginbtn,
.signupbtn,
.update-snippet-button,
.delete-snippet-button,
.commentBtn {
    background-color: rgb(113, 74, 23);
    border: 2px solid darkolivegreen;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    font-size: large;
}

.allNew {
    display: flex;
    justify-content: center;
}

#createNew {
    display: block;
    border: 5px solid darkolivegreen;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(244, 160, 49);
    color: darkolivegreen;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    justify-content: center;
    width: 60%;
    border-radius: 25px;
}

.titleInput {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 40px;
    border-radius: 5px;
}

.newPosts {
    display: flex;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createNew h2 {
    background-color: rgb(113, 74, 23);
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card {
    background-color: rgb(113, 74, 23);
    width: 100%;
    color: lightskyblue;
}

#snippet-content {
    width: 300px;
    height: 600px;
}

.submitbtn {
    background-color: rgb(113, 74, 23);
    border: 2px solid darkolivegreen;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: bolder;
    color: lightskyblue;
    font-size: large;
    margin: 3%;
}

body {
   background: linear-gradient(to bottom, #aaa1a1, #87CEEB);
}

.code-snippet {
    text-align: left;
}

.code-editor {
    margin: 10%;
    width: 80%;
    height: 80%;
    min-height: 400px;
}

.editor { 
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.snippetAll {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.snippetDiv {
    display: flex;
    flex-direction: column;
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    background-color: rgb(244, 160, 49);
    margin: 5% 0 0 5%;
    font-family: 'Instrument Serif', serif;
    width: 40%;
}

.snippetDiv h2 {
    background-color: rgb(113, 74, 23);
    color: lightskyblue;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-style: italic;
}

.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}

.commentDiv {
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    background-color: rgb(244, 160, 49);
    align-self: flex-end;
    width: 40%;
    height: 60%;
}

.commentDiv h2 {
    background-color: rgb(113, 74, 23);
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

.userComment {
    background-color: white;
    margin: 6px 6px 3px 6px;
}

.addCommentDiv {
    margin-top: 20px;
    background-color: rgb(244, 160, 49);
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    width: 40%;
    padding-bottom: 5px;
}

.addCommentDiv h2 {
    background-color: rgb(113, 74, 23);
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
}

#comment-content {
    width: 90%;
    height: 200px;
    margin: 5px;
    border: 5px solid darkolivegreen;
}

.sniplogBtn {
    border: 5px solid darkolivegreen;
    border-radius: 25px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(244, 160, 49);
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    margin: 30px;
    padding-bottom: 10px;
    width: 300px;
}

.sniplogBtn h2 {
    background-color: rgb(113, 74, 23);
    color: lightskyblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
}
